<h1><%= t(".t1") %></h1>
<p>
  <%= t(".t2") %> <a href="http://www.railstutorial.org/">
  <em><%= t(".t3") %></em></a> <%= t(".t4") %>
  <a href="http://www.railstutorial.org/book"><%= t(".t5") %></a> <%= t(".t6") %>
  <a href="http://screencasts.railstutorial.org/"><%= t(".t7") %></a>
  <%= t(".t8") %>
  <a href="http://rubyonrails.org/"><%= t(".t9") %></a>.
  <%= t(".t10") %>
</p>
