<footer class="footer">
  <small>
    <%= t (".t1") %><a href="http://www.railstutorial.org/" ><%= t(".t2") %></a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to  t(".t3"), about_path %></li>
      <li><%= link_to  t(".t4"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t(".t5") %></a></li>
    </ul>
  </nav>
</footer>
